@font-face{
	font-family: pixel;
	src: url("../font/VT323-Regular.ttf");
}

body {
  margin-top: 90px;
  background-image: url("../img/bgmono.png");
  background-repeat: no-repeat;
  width: 100%;


 
}

nav{
	background: #000;
	height: 80px;
	width: 100%;
}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 40px, 100px;
	font-family: pixel;
}
nav ul{
	float: right;
	margin-right: 20px;
}

nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
	font-family: pixel;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

.land{
	bachground: black;

}


.fontp{
	color: white;
	font-family: pixel;
}
.fontpu{
	color: black;
	font-family: pixel;
}



.me{
	width: 100%;
  	height: 850px;
}

.inf{
	color: black;
	font-family: pixel;

}

li.dash{
	list-style-type: "-";
}


.gallery{
	margin: 10px; 50px;

}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 100%;
}

.gallery img:hover{
	
	transform: scale(1.1);
}

.carf{
	color:black;
}


@media(max-width: 925px){

	

	label.logo{
		font-size: 30px;
		padding-left: 50px;
		font-family: pixel;
	}
	nav ul li a{
		font-size: 16px;
		font-family: pixel;
	}
}
@media(max-width: 858px){

	body{
		margin-top: 10px;

	}

	.fontp{
	font-size: 38px;
}
.me{
	width: 100%;
  	height: 500px;
}



	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #000;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li {
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
		font-family: pixel;
	}
	#check:checked ~ ul{
		left: 0;
	}
	.me{
		width: 100%;
	  	height: 500px;
}
}

@media(max-width: 412px){

	.fontp{
		font-size: 31px;
}


}

@media(max-width: 360px){

	label.logo{
		font-size: 20px;
		padding-left: 15px;
		font-family: pixel;
	}
	nav ul li a{
		font-size: 16px;
		font-family: pixel;
	}

	.fontp{
		font-size: 29px;
}

	.me{
		width: 100%;
	  	height: 500px;
}
}

@media(max-width: 286px){
	.fontp{
		font-size: 28px;
}

}





